# Copyright (c) 2026 IURII Potekhin / Ladder Dragon. All rights reserved.
# Purpose: define the systemd unit for ladder-dragon-log-export.
[Unit]
Description=Refresh protected Ladder Dragon logs

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
