# SPDX-License-Identifier: MIT
# Copyright (c) 2026 IURII Potekhin
# Purpose: define the systemd unit for pi-watchdog-v3.
[Unit]
Description=Check host network each minute and bot health each 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=1s
Unit=pi-watchdog-v3.service

[Install]
WantedBy=timers.target
